<!DOCTYPE html>
<html lang="en" xmlns:th = "http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="POST" th:action="@{/start}" th:object="${blenderData}">
  <label for="field1">Число фигур, которое можно использовать</label>
  <br/>
  <input type="number" th:field="*{field1}" id="field1" />
  <div style="color:red" th:if="${#fields.hasErrors('field1')}" th:errors = "*{field1}">numOfCheckers error</div>
  <br/>
  <label for="field2">Разрешение исходного изображения. Выпадающий список</label>
  <br/>
  <input type="text" th:field="*{field2}" id="field2"/>
  <div style="color:red" th:if="${#fields.hasErrors('field2')}" th:errors = "*{field2}">resolution error</div>
  <br/>
  <label for="field3">field3</label>
  <br/>
  <input type="number" th:field="*{field3}" id="field3" step=".01"/>
  <div style="color:red" th:if="${#fields.hasErrors('field3')}" th:errors = "*{field3}">field3 error</div>
  <br/>
  <input type="submit" value="Create"/>
</form>

</body>
</html>